body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main {
    background-color: rgb(229, 223, 216);
    min-height: 100vh;
}

.container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px; 
}

.product-card {
    background-color: #A4A69C;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.product-image {
    width: 500px; 
    height: 500px; 
    object-fit: cover;
    background-color: #f0f0f0;
}

.product-info {
    color: #232625;
    flex: 1;
    padding: 15px;
}

.product-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-price {
    font-size: 20px;
}

.product-btn {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #35403A;
    color: #A4A69C;
    border: none;
    border-radius: 0 0 10px 10px; 
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-btn:hover {
    background-color: #4C594F;
}


a:link {
    color: #232625;
    text-decoration: none;
}

a:visited {
    color: #35403A;
    text-decoration: none;
}

a:hover {
    color: #232625;
    text-decoration: none;
}

a:active {
    color: #A4A69C;
    text-decoration: none;
}