body {
    background-color: gray;
}

h1 {
    display: flex;
    color: maroon;
    justify-content: center;

}

.product {
    border-style: double;
    border-width: thick;
    border-color: maroon;
    margin: 5px;
    padding-left: 8px;
    padding-right: 3px;
    width: 300px;
}
a {
    text-decoration: none;
    color: black;
}

h3 {
    margin: 2px;
}

.rtproduct {
    border-color: maroon;
    border-style: solid;
    min-width: 120px;
    margin: 2px;
    padding-left: 8px;

}

input {
    margin-right: 10px;
    height: 20px;
    width: 200px;
    border: solid;
    border-color: maroon;
}
.submit {
    display: flex;
    justify-content: center;
    margin: 10px;
}
button {
    border: solid;
    border-color: maroon;
    height: 30px;
    width: 180px;
}

.form-input {
    display: flex;
    justify-content: center;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 6px;
}

.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}