<main>
    <h1>Nuestros cafés</h1>
    <div>
        <ul>
            {{#each products}}
                <li>{{this.title}}</li>
            {{/each}}
        </ul>
    </div>
</main>
{{!-- <script async src="/js/index.js"></script> --}}