<h1>Login</h1>
<form action='/auth/login' method='POST'>
  <input type='text' name='email' placeholder='Email: ' />
  <input type='text' name='password' placeholder='Pass: ' />
  <input type='submit' value='Login' />
</form>

<a href='/auth/register'>Aun no tengo cuenta... registrarse</a>
<br />
<a href='/api/sessions/github'><button>Entrar con Github</button></a>